button {
    width: 138px;
    height: 48px;
    background-color: $blue-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: all .5;
    text-transform: uppercase;
}
.button__drops {
    width: 189px;
    &_tab {
        width: 100%;
        background-color: $darkGray-color;
        font-size: 14px;
        span {
            color: $yellow-color;
        }
    }
}


.button__discount {
    background-color: #232321;
    width: 102px;
}

button:hover {
    transform: scale(1.05);
    border: none;
}