button {
    width: 138px;
    height: 48px;
    background-color: $blue-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: all .5;
    text-transform: uppercase;
    &:hover {
        transform: scale(1.05);
    }
}

.button__drops {
    width: 189px;
    &_tab {
        width: 100%;
        background-color: $darkGray-color;
        font-size: 14px;
        span {
            color: $yellow-color;
        }
    }
}


.button__discount {
    background-color: #232321;
    width: 102px;
}
.button__color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 14px;
}
.khaki {
    background-color: #707e6e;
}
.dark {
    background-color: #232321;
}

.button__size {
    width: 48px;
    background-color: #fff;
    color: $darkGray-color;
    margin-bottom: 5px;
} 

.button__size:hover {
    background-color: $darkGray-color;
    color: #fff;
}

.button__size:focus {
    background-color: $darkGray-color;
    color: #fff;
}

.button__add {
    width: 300px;
    background-color: $darkGray-color;
}
.button__like {
    width: 48px;
    background-color: $darkGray-color;
    margin-left: 5px;
}
.button__buy {
    width: 360px;
    margin-top: 10px;
}
.button__catalog {
    width: 100%;
    background-color: $darkGray-color;
    font-size: 14px;
    color: #fff;
    &:hover {
        transform: scale(1.01);

    }
}
.button__catalog_refine {
    width: 72px;
    height: 38px;
    font-size: 12px;
    text-transform: none;
    border-radius: 12px;
}
.button__catalog_color {
    width: 48px;
    margin-bottom: 5px;
}
.blue {
    background-color: $blue-color;
}
.yellow {
    background-color: $yellow-color;
}
.dark {
    background-color: black;
}
.green {
    background-color: green;
}
.dark_grey {
    background-color: $darkGray-color;
}
.orange {
    background-color: yellow;
}
.light_grey {
    background-color: lightgray;
}
.grey {
    background-color: grey;
}
.braun {
    background-color: brown;
}
.red {
    background-color: red;
}

.prev-button,
.next-button {
    width: 40px;
    height: 40px;
    background-color: #e7e7e3;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: $darkGray-color;
}

.prev-button_product,
.next-button_product {
    background-color: $darkGray-color;
    color: #fff;
}
.prev-button_product:hover,
.next-button_product:hover {
    opacity: 50%;
}

