.drops {
    min-height: 800px;
    background-color: $bgGray-color;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__tabs {
        display: grid;
        grid-template-columns: 275px 275px 275px 275px;
        gap: 16px;
        margin-top: 32px;
    }
    &__tab {
        img {
            width: 100%;
        }
        &_suptitle {
            margin: 16px 0;
            font-size: 20px;
        }
    }

}